<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>udacity_tune_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F884FBD51E578D6200E0AE82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F884FBE91E578D6300E0AE82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F884FBF41E578D6300E0AE82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
